:root {
    font-family: Arial, Inter, system-ui, Avenir, Helvetica, sans-serif;
    --black: #000000;
    --gray: #747474;
    --white: #ffffff;
    --dark__blue: #293444;
    --secound__gray: #e0e0e0;
    --trird__gray: #b5b5b5;
    --tag__color: #e2ebf1;
    --tag__completed: #d0dde6;
    --tag__unCompleted: #e6d0d0;
    --tag__active: #d0e6d5;
}
body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--white);
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}
